<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/util
          http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
    	<property name="messageConverters">
    		<list>
    			<ref bean="jsonConverter" />
    		</list>
    	</property>
    </bean>
    <bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
    	<property name="supportedMediaTypes" value="application/json" />
    </bean>
    <util:properties id="appProp" location="classpath:app.properties"/>
    <bean id="articleClient" class="cn.edu.seu.whitemirror.api.client.ArticleClient" >
        <property name="restUrl" value="#{appProp.restUrl}"/>
        <property name="apiKey" value="#{appProp.apiKey}"/>
        <property name="restTemplate" ref="restTemplate"/>
    </bean>
    <bean id="sectionClient" class="cn.edu.seu.whitemirror.api.client.SectionClient" >
        <property name="restUrl" value="#{appProp.restUrl}"/>
        <property name="apiKey" value="#{appProp.apiKey}"/>
        <property name="restTemplate" ref="restTemplate"/>
    </bean>
    <bean id="categoryClient" class="cn.edu.seu.whitemirror.api.client.CategoryClient" >
        <property name="restUrl" value="#{appProp.restUrl}"/>
        <property name="apiKey" value="#{appProp.apiKey}"/>
        <property name="restTemplate" ref="restTemplate"/>
    </bean>
</beans>